@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

:root {
  /* COLORS */
  --cyan: hsl(179, 80%, 58%);
  --darkBlue: hsl(206, 84%, 22%);
  --gray: hsl(225, 14%, 53%);
  --white: hsl(0, 0%, 100%);
  --veryDarkBlue: hsl(230, 60%, 8%);
  --red: hsl(343, 100%, 58%);

  /* TYPOGRAPHY */
  --fontFamily: "Manrope", sans-serif;

  --fontSize: 0.9375rem;

  --fontWeight4: 400;
  --fontWeight7: 700;
  --fontWeight8: 800;

  /* SPACING & BORDER-RADIUS*/
  --margin: 1rem;
  --padding: 1rem;
  --borderRadius: 1rem;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
  background: var(--darkBlue);
  display: none;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--veryDarkBlue);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--veryDarkBlue);
  width: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--red);
}
/* END SCROLLBAR */
body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight4);
  color: var(--white);
  background-color: var(--veryDarkBlue);
}
/* MOBILE FIRST */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 113px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .hero-images {
  margin-top: calc(var(--margin) * 1.33);
  height: 240px;
  width: 100%;
  display: flex;
}
.hero .hero-images .hero-left-image img,
.hero .hero-images .hero-right-image img {
  height: 231px;
}
.hero .call-to-action {
  margin: 0 auto;
  margin-top: calc(var(--margin) * 3.87);
  width: 332px;
  text-align: center;
}
.hero .call-to-action .call-to-action-texts .call-to-action-texts-title {
  font-size: calc(var(--fontSize) * 2.13);
  line-height: calc(var(--padding) * 2.67);
  padding: 0 calc(var(--padding) * 2.8);
}
.call-to-action .call-to-action-texts .call-to-action-texts-title span {
  color: var(--cyan);
}
.hero .call-to-action .call-to-action-texts .call-to-action-texts-description {
  width: 100%;
  color: var(--gray);
  margin-top: var(--margin);
  line-height: calc(var(--padding) * 1.67);
}
.hero .call-to-action button {
  margin-top: calc(var(--margin) * 2.2);
  cursor: pointer;
  border: none;
  background-color: transparent;
}
